[tool.poetry]
  name = "pieces"
  version = "0.0.14"
  description = ""  # Add your description here
  authors = ["Pieces <development@pieces.app>"]  # Add your name and email

[tool.poetry.dependencies]
  python = ">=3.9,<3.13"
  beautifulsoup4 = "4.12.3"
  aenum = "3.1.15"
  certifi = "2023.11.17"
  charset-normalizer = "3.3.2"
  pydantic = "1.10.13"
  pyperclip = ">=1.8.2"
  requests = ">=2.31.0"
  typing-extensions = "4.9.0"
  urllib3 =  ">=2.2.0,<3.0.0"
  websocket-client = "1.7.0"
  pieces_os_client = "1.2.7"
  prompt-toolkit = "^3.0.43"
  rich = "^13.7.1"

[tool.poetry.group.dev.dependencies]
  pytest = "^8.0.0"
  pyinstaller = "^6.3.0"
#  pieces_os_client = {path = "../pieces-os-client-sdk-for-python/dist/pieces_os_client-1.2.7-py3-none-any.whl"}

[build-system]
  requires = ["poetry-core>=1.0.0"]
  build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
  pieces = "pieces.app:main"


