name: Release

on:
  push:
    tags:
      - '*.*.*'

jobs:
  build:
    uses: ./.github/workflows/build.yaml
    with:
      deploy: true
    secrets:
      access_token: ${{ secrets.GITHUB_TOKEN }}
      pypi_token: ${{ secrets.PYPI_TOKEN }}
      pypi_test_token: ${{ secrets.PYPI_TEST_TOKEN }}
      ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY }}
      credentials_json: ${{ secrets.GCP_CREDENTIALS }}
      apple_app_specific_password: ${{ secrets.APPLE_APP_SPECIFIC_PASSWORD }}
      fastlane_password: ${{ secrets.FASTLANE_PASSWORD }}
      match_password: ${{ secrets.MATCH_PASSWORD }}
      chocolatey_api_key : ${{ secrets.CHOCOLATEY_API_KEY }}
      code_signing_cert: ${{ secrets.CODE_SIGNING_CERT }}
      cert_password: ${{ secrets.CERT_PASSWORD }}
